.container-slider {
  /* max-width: 90rem; */
  max-width: 1600px;

  /* width: 82%; */
  /* height: auto; */
  height: 35rem;
  /* margin: 100px auto 0; */
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 800px) {
  .container-slider {
  }

  .SlideArrow{
    width: 2rem;
    height: 2rem;
  }

  .btn-slide,
  .prev,
  .next {
    width: 2.2rem;
    height: 2.2rem;
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  width: 100%;
  /* width: 100rem; */
  height: 100%;
  object-fit: cover;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  /* background: #f1f1f1; */
  background: transparent;
  backdrop-filter: blur(10px);
  border: 0px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
.btn-slide,
  .prev,
  .next {
    width: 0.2rem;
    height: 0.2rem;
  }
  
}
.btn-slide :hover {
  color: #fdbd59;

  transition: all 0.2s linear;
}

.prev {
  color: #fff;
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  color: #fff;
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 2rem;
  height: 0.5rem;
  border-radius: 10%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(32, 32, 32);
}
.autoSlide-button {
  background: #f1f1f1;
  color: #202020;
  font-weight: 800;
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  opacity: 0.35;
  cursor: pointer;
}

.autoSlide-button:hover {
  opacity: 1;
}
.container {
  position: relative;
  text-align: center;
  color: rgb(235, 233, 233);
  height: 50rem;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* //Banner 1 */
.banner1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
}
.banner1 h1 {
  color: #fdbd59;
  align-items: center;
}
.banner1 div {
  width: 10rem;
  height: 5px;
  background: white;
  margin: 1.7rem auto;
}
.banner1 p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #fdbd59;
}
.banner1 h4 {
  font-size: 1rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 575px) {
  .banner1 {
    width: 100%; 
    height: 32rem;
    padding: 2rem 1rem;
  }
  .banner1 div{
     margin: 3.7rem auto;
  }
 
  
}
@media screen and (min-width: 576px) {
  .banner1 {
    padding: 2rem 3rem;   
  }
  .banner1 h1 {
    font-size: 3rem;
  }
  
}
@media screen and (min-width: 992px) {
  .banner1 {
    padding: 2rem 6rem;
  }
  .banner1 h1 {
    font-size: 4rem;
  }
}

/* Banner2 */
.banner2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
}
.banner2 h2 {
  z-index: 500;
  color: white;
  align-items: center;
}
.banner2 div {
  width: 10rem;
  height: 5px;
  background: white;
  margin: 1.7rem auto;
}
.banner2 p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #fdbd59;
}
.banner2 h4 {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.banner2 hr {
  width: 30%;
}
@media screen and (min-width: 576px) {
  .banner2 {
    padding: 2rem 3rem;
  }
  .banner2 h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner2 {
    padding: 2rem 6rem;
  }
  .banner2 h1 {
    font-size: 4rem;
  }
}

/* Banner3 */
.banner3 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
}
.banner3 h2 {
  color: white;
  align-items: center;
}
.banner3 div {
  display: flex;
  width: 10rem;
  height: 5px;
  background: white;
  margin: 1.7rem auto;
}
.banner3 p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #fdbd59;
  text-transform: capitalize;
}

.banner3 h4 {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.banner3 hr {
  width: 30%;
}
@media screen and (min-width: 576px) {
  .banner3 {
    padding: 2rem 3rem;
  }
  .banner3 h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner3 {
    padding: 2rem 6rem;
  }
  .banner3 h2 {
    font-size: 3rem;
  }
}

/* Banner4 */
.banner4 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
}
.banner4 h2 {
  color: white;
  align-items: center;
}
.banner4 div {
  width: 10rem;
  height: 5px;
  background: white;
  margin: 1.7rem auto;
}
.banner4 p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #fdbd59;
}
.banner4 h4 {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.banner4 hr {
  width: 30%;
}
@media screen and (min-width: 576px) {
  .banner4 {
    padding: 2rem 3rem;
  }
  .banner4 h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner4 {
    padding: 2rem 6rem;
  }
  .banner4 h1 {
    font-size: 4rem;
  }
}

/* Banner5 */
.banner5 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
}
.banner5 h2 {
  color: rgb(255, 239, 19);
  align-items: center;
}
.banner5 div {
  width: 10rem;
  height: 5px;
  background: white;
  margin: 1.7rem auto;
}
.banner5 p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #fdbd59;
}
.banner5 h4 {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.banner5 hr {
  width: 30%;
}
@media screen and (min-width: 576px) {
  .banner5 {
    padding: 2rem 3rem;
  }
  .banner5 h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .banner5 {
    padding: 2rem 6rem;
  }
  .banner5 h2 {
    font-size: 3.5rem;
  }
}

.hrb {
  width: 100%;
  background-color: #fdbd59;
  height: 0.3rem;
  border-bottom: 0;
}
